body{
    
    background-color: rgb(51, 199, 199);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    line-height: 4.75mm;
    margin: 1.75mm;
    margin-top: 65px;

}



/* The navigation bar  and refresh comment*/
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin-left: 0;
  left: 0;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  left: 0;
}


/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}



.button{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: -5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#footer{

    color: aliceblue;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: right;
    position: fixed;
    background-color: blue;
    padding-right: 1cm;
    

}